<!DOCTYPE html>
<html>
    <head>
        <title>
            Add Course
        </title>
    </head>

    <body>
        <h1>Course</h1>
        <br>
        <form action="/api/courses/create" method="post">
            <label>Course Name</label>
            <br>
            <input type="text" id="c_name" name="c_name">
            <br>
            <br>
            <label>Course Code</label>
            <br>
            <input type="text" id="c_code" name="c_code">
            <br>
            <br>
            <label>Course Description</label>
            <br>
            <textarea name="c_description" id="" cols="30" rows="10"></textarea>
            <br>
            <br>
            <br>
            <input type="submit">
        </form>
    </body>


</html>