<!DOCTYPE html>
<html>
    <head>
        <title>
            Add Student
        </title>
    </head>

    <body>
        <h1>Student</h1>
        <br>
        <form action="/api/students/create" method="post">
            <label>Student Name</label>
            <br>
            <input type="text" id="s_name" name="s_name">
            <br>
            <br>
            <label>Student Code</label>
            <br>
            <input type="text" id="s_code" name="s_code">
            <br>
            <br>
            <br>
            <input type="submit">
        </form>
    </body>


</html>